{% block main %}

    <head>
        <link href="/static/style.css" rel="stylesheet">
        <title>English</title>
    </head>

    <body class="image-english">
        <nav class="navbar-english">

            <ul class="navbar-nav ms-auto">
                <a class="nav-link-english">Quizzes</a>
                <a href="/login" style="color: white; font-size:25px;">Login</a>
                <a href="/" style="color: white; font-size:25px;">Back</a>
            </ul>
        </nav>

        <h1 class="h1-english">QUIZ English</h1>

        <form action="/quizzes/English" method="post">

            <input type="hidden" name="quiz_name" value="maths">
            <div class="quiz-container-english">
                <p>Question 1:Renovating the town hall turned out ____ less difficult than had originally been thought.</p>
            </div>
            <div class="quiz-option-container-english">
                <label class="option"><input type="radio" name="answer20" value="being">being</label><br>
                <label class="option"><input type="radio" name="answer20" value="to be">to be</label><br>
                <label class="option"><input type="radio" name="answer20" value="was">was</label><br>
                <label class="option"><input type="radio" name="answer20" value="it was">it was</label><br>
            </div>

            <div class="quiz-container-english">
                <p>Question 2:Technology advancemaent is one of the factors that drives _____ growth.</p>
            </div>
            <div class="quiz-option-container-english">
                <label><input type="radio" name="answers21" value="economy">economy</label><br>
                <label><input type="radio" name="answers21" value="economic">economic</label><br>
                <label><input type="radio" name="answers21" value="economical">economical</label><br>
                <label><input type="radio" name="answers21" value="economically">economically</label><br>
            </div>

            <div class="quiz-container-english">
                <p>Question 3:A large city should include places of entertainment for _____ ages.</p>
            </div>
            <div class="quiz-option-container-english">
                <label><input type="radio" name="answers22" value="every">every</label><br>
                <label><input type="radio" name="answers22" value="all">all</label><br>
                <label><input type="radio" name="answers22" value="the whole">the whole</label><br>
                <label><input type="radio" name="answers22" value="every all">every all</label><br>
            </div>

            <div class="quiz-container-english">
                <p>Question 4:It is not uncommon for people to have an allergic reaction _____ cats.</p>
            </div>
            <div class="quiz-option-container-english">
                <label><input type="radio" name="answers23" value="with">with</label><br>
                <label><input type="radio" name="answers23" value="by">by</label><br>
                <label><input type="radio" name="answers23" value="to">to</label><br>
                <label><input type="radio" name="answers23" value="of">of</label><br>
            </div>

            <div class="quiz-container-english">
                <p>Question 5:This afternoon's virtual press conference is _____ at Downing Street.</p>
            </div>
            <div class="quiz-option-container-english">
                <label><input type="radio" name="answers24" value="holding">holding</label><br>
                <label><input type="radio" name="answers24" value="been held">been held</label><br>
                <label><input type="radio" name="answers24" value="to be held">to be held</label><br>
                <label><input type="radio" name="answers24" value="been helding">been helding</label><br>
            </div>

            <div class="quiz-container-english">
                <p>Question 6:The scientists deliberately let the results of their research _____ to the press.</p>
            </div>
            <div class="quiz-option-container-english">
                <label><input type="radio" name="answers25" value="to leak">to leak</label><br>
                <label><input type="radio" name="answers25" value="be leaked">be leaked</label><br>
                <label><input type="radio" name="answers25" value="leaking">leaking</label><br>
                <label><input type="radio" name="answers25" value="to have leaked">to have leaked</label><br>
            </div>

            <div class="quiz-container-english">
                <p>Question 7:Many people continue to smoke _____ the countries health warnings about how harmful it is.</p>
            </div>
            <div class="quiz-option-container-english">
                <label><input type="radio" name="answers26" value="in spite">in spite</label><br>
                <label><input type="radio" name="answers26" value="despite">despite</label><br>
                <label><input type="radio" name="answers26" value="though">though</label><br>
                <label><input type="radio" name="answers26" value="instead">instead</label><br>
            </div>

            <div class="quiz-container-english">
                <p>Question 8:Environmentalists say that the number of endagered wild animals has been rising at _____ alarming rate.</p>
            </div>
            <div class="quiz-option-container-english">
                <label><input type="radio" name="answers27" value="the">the</label><br>
                <label><input type="radio" name="answers27" value="too">too</label><br>
                <label><input type="radio" name="answers27" value="an">an</label><br>
                <label><input type="radio" name="answers27" value="a">a</label><br>
            </div>

            <div class="quiz-container-english">
                <p>Question 9:A few _____ scientists still oppose the idea of this concept despite the evidence.</p>
            </div>
            <div class="quiz-option-container-english">
                <label><input type="radio" name="answers28" value="distinguishing">distinguishing</label><br>
                <label><input type="radio" name="answers28" value="distinguishable">distinguishable</label><br>
                <label><input type="radio" name="answers28" value="distinguished">distinguished</label><br>
                <label><input type="radio" name="answers28" value="distinguish">distinguish</label><br>
            </div>

            <div class="quiz-container-english">
                <p>Question 10:Dreams are a source of great _____ for many people.</p>
            </div>
            <div class="quiz-option-container-english">
                <label><input type="radio" name="answers29" value="fascinate">fascinate</label><br>
                <label><input type="radio" name="answers29" value="fascinating">fascinating</label><br>
                <label><input type="radio" name="answers29" value="fascinatingly">fascinatingly</label><br>
                <label><input type="radio" name="answers29" value="fascination">fascination</label><br>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    </div>
    </body>
{% endblock %}
