html,
body {
    width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

h1 {
    color: #004080;
    text-align: center;
    font-size: xx-large;
    margin: 0;
    height: 0px;
    animation: animation 1s ease;
}

.hero-image {
    position: relative;
    width: 100%;
    height: 550px;
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%),
        url('../IMAGES/anatomy_background_1.jpg');
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    top: 60px;
}

.hero-text {
    position: absolute;
    top: 35%;
    left: 1%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 25px 35px;
    border-radius: 12px;
    font-size: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    max-width: 500px;
    font-style: italic;
}

.hero-text h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.5;
}

.hero-text p {
    font-size: 18px;
    font-style: italic;
    text-align: right;
}

.anatomy-main-content {
    padding: 80px 20px 60px;
    background-color: #fefefe;
    margin-top: 0;
    color: #2a2a2a;
    font-family: 'Segoe UI', sans-serif;
}

.h2-anatomy-main {
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
}

.anatomy-main-content section {
    margin: 50px auto;
    max-width: 1000px;
    padding: 40px;
    border-radius: 12px;
    background-color: #fffdf6;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.anatomy-main-content h2 {
    color: #5a2c0e;
    margin-bottom: 20px;
}

.anatomy-main-content .pregnancy-section img {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.month-by-month-growth h2 {
    color: rgb(145, 13, 35);
    text-align: center;
    margin-top: 30px;
}

.month-by-month-growth h3 {
    margin-top: 30px;
}

.month-by-month-growth ul {
    list-style: square;
    padding-left: 20px;
}

.month-by-month-growth ul li {
    margin-top: 10px;
}

.month-by-month-growth li strong {
    color: brown;
    font-weight: bold;
}

.month-by-month-growth ol {
    text-align: justify;
}

.media-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
    padding: 0 20px;
}

.media-row video {
    flex: 1 1 30%;
    max-width: 600px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    transition: transform 0.3s ease;
}

.media-row video:hover {
    transform: scale(1.03);
}

.brain-section img {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 400px;
    object-fit: cover;
    margin: 20px auto;
}

.brain-part h4 {
    color: #bb1831;
    margin-top: -10px;
}

.brain-part p {
    text-align: justify;
    margin-top: -15px;
    margin-bottom: 32px;
}

.anatomy-other {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.anatomy-other-image {
    text-align: center;
    max-width: 300px;
    flex: 1 1 250px;
}

.anatomy-other-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    transition: transform 0.3s ease;
}

.anatomy-other-image img:hover {
    transform: scale(1.01);
}

.anatomy-other-image p {
    margin-top: 10px;
}

.anatomy-other-image a {
    color: #1d4e6e;
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}

.anatomy-other-image a:hover {
    color: #b22222;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .hero-text {
        margin-left: -15px;
    }

    .hero-text h2 {
        font-size: 15px;
    }

    .hero-text p {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .hero-text {
        margin-left: -40px;

    }

    .hero-text h2 {
        font-size: 11px;
    }

    .hero-text p {
        font-size: 10px;

    }

    .hero-image {
        margin-top: -18px;
    }
}

@media (max-width: 580px) {
    h1 {
        font-size: 28px;
        margin-top: 15px;
        height: 0;
    }

    .hero-image {
        width: 100%;
        height: 350px;
    }

    .hero-text {
        margin-left: -30px;

    }

    .hero-text h2 {
        font-size: 9px;
    }

    .hero-text p {
        font-size: 7px;

    }

    .h2-anatomy-main {
        font-size: 15px;
        margin-top: -100px;
    }

    .media-row video {
        flex: 1 1 30%;
        max-width: 300px;
        height: 150px;
        border-radius: 12px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .brain-section img {
        max-width: 500px;
        height: 300px;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 22px;
    }

    .h2-anatomy-main {
        font-size: 13px;
        margin-top: -150px;
    }

    .hero-text {
        margin-left: -30px;
        max-width: 100px;
        max-height: 60px;

    }

    .hero h2 {
        font-size: 10px;

    }

    .hero p {
        font-size: 8px;

    }

    .hero-image {
        margin-top: -20px;
    }

    .brain-section img {
        max-width: 300px;
        height: 190px;
    }

    .click-box h3 {
        font-size: 14px;
        width: 200px;
    }

    .media-row video {
        max-width: 250px;
        height: 150px;
    }
}

@media (max-width: 425px) {
    .click-box h3 {
        font-size: 12px;
        width: 190px;
        margin-left: -20px;
    }

    .month-by-month-growth ul li {
        font-size: 13px;
    }

    .media-row video {
        max-width: 200px;
        height: 150px;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 18px;
    }

    .h2-anatomy-main {
        font-size: 11px;
        margin-top: -150px;
    }

    .hero-text {
        margin-left: -40px;
        max-width: 70px;
        max-height: 80px;
    }

    .click-box h3 {
        font-size: 11px;
        width: 190px;
        margin-left: -50px;
    }

    .month-by-month-growth ul li {
        font-size: 12px;
    }

    .media-row video {
        max-width: 145px;
        height: 100px;
    }
}